/* css styles */

h1.title {
  font-family: 'Arial', sans-serif; /* Change font */
  font-weight: bold; /* Make title bold */
  color: #hotpink; /* Change color (optional) */
  text-align: center; /* Center the title (optional) */
}
