/* css styles */

.navbar-brand {
  font-family: 'Arial', sans-serif; /* Change to your preferred font */
  font-weight: bold;  /* Make it bold */
  font-size: 24px;  /* Adjust size as needed */
  color: #ff5733; /* Change color (optional) */
}

body {
  background-color: #000022;
  color: #00ffff;
  font-family: "Orbitron", sans-serif;
}
h1, h2, h3 {
  text-shadow: 0 0 10px #ff00ff;
}

h1.title {
  font-family: 'Arial', sans-serif; /* Change font */
  font-weight: bold; /* Make title bold */
  color: #bb2777; /* Change color (optional) */
  text-align: center; /* Center the title (optional) */
}
